*{
  color:#ffffff;
   font-family: sans-serif monospace;
   margin:0;
   padding:0;
   font-size: 18px;
  }



  body, html{
    background-color:#B43921;
    accent-color: black;

  }


#title{
background-color: black;
border-radius: 16px;
padding:8px;
font-size: 42px;
}

.tittle{

  padding: 48px;
}

#description{

color: black;
background-color: #ffffff;
border-radius: 24px;
padding: 18px;
}


form{
display:flex;
flex-direction: column;
gap: 18px;
margin: 32px;
}

input{
padding: 10px;
border-radius: 18px;
border: none;
}

textarea{
border-radius: 18px;
height: 52px;
padding: 12px;

}

.services{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding:none;
  align-items:center;
  justify-content: center;
}

.time-of-complition{
  display: flex;
  flex-direction: column;
gap: 28px;
align-items: center;
justify-content: center;
}


#submit{
  background-color: black;
border-radius: 16px;
padding:14px;

}


@media (min-width: 768px) {

}