*{
  color:#ffffff;
   font-family: sans-serif monospace;
   margin:0;
   padding:0;
   font-size: 18px;
  }



  body, html{
    background-color:#B43921;
    accent-color: black;

  }


#title{
background-color: black;
border-radius: 16px;
padding:8px;
font-size: 38px;
text-align: center;
}

.tittle{

  padding: 42px;
}

#description{

color: black;
background-color: #ffffff;
border-radius: 24px;
padding: 18px;
}


form{
display:flex;
flex-direction: column;
gap: 18px;
margin: 32px;
align-items: center;
}

input{
padding: 10px;
border-radius: 18px;
border: none;
}

textarea{
border-radius: 18px;
height: 84px;
padding: 12px;

}


.services-label{

font-size: 48px;

}

.services{
margin: 10px;
  display: flex;
  flex-direction: column;
}

.time-of-complition{
  display: flex;
  flex-direction: column;
gap: 28px;
align-items: center;
justify-content: center;
}


#submit{
  background-color: black;
border-radius: 16px;
padding: 8px;
width:120px;

}


@media (min-width: 768px) {



body{

  display: flex;
}

.tittle{
padding: 58px;
  width: 30%;
}

}