*{
  color:#667292;
  text-align:center;
  margin-top:3%;
  }
  h1{
  font-size:75px;
  }
  
  body{
    background-color:#bccad6;
  
  }
  
  form {
    width:20vw;
    height:auto;
    margin: 0 auto;
  }

   #dropdown ,input{
    opacity:1;
  border-color:#667292;
    color:#667292;
  border-top:none;
  border-right:none;
  border-left:none;
  margin-top:5%;
   }
  
  #description{
    margin-top:10%;
  
  }
  #checkbox{
    margin-left:5%;
  }
  
  #int{
    margin-top:10%;
  marigin-bottom:2%;
  }
  
  input{
    font-size:18px;
  font-family: 'Times New Roman', serif;
  }
  
  
  
  @media (max-width:768px){
  
  
  } form{
  
    width:90vw;
  }
  
  textarea{
    width:5%;
  }
  
  
  budget{
  
    text-align:center;
    padding:10px;
  }
  
  textarea {
    font-size: 15px;
    margin-bottom: 0%;
    height: 20%;
    width: 40%;
  }
  
  #pro{
    margin-top:10%;
  }
  
  #time{
  
    margin-top:0;
    margin-bottom:0;
  }
  
  #submit{
  border-radius:30px;
  border:none;
  height:10%;
  }
  
  
  #budget-label{
  margin-right:2%;
  }
  
  #number{
  text-align:left;
  
  
  }
